<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>In   the name of God most merci most mercifull</h1>
        <div class="container">{% for itm in tabook_list %}
          
                <li class="list-group-item"> 
                    <span class="badge">
                            {{ forloop.counter }}
                    </span>
                    <header> 
                        {{itm.title}}
                    </header>
                        
                    
                    <p>
                        {{itm.description}}
                    </p>
                </li>
               
             

   {% endfor %}
</body>
</html>